# -----------------------------------------------------------------------------
# DEVELOPMENT REQUIREMENTS
#
# This file contains the list of packages that are used for DeepART tinkering
# in Python.
# -----------------------------------------------------------------------------

jupyterlab
# tensorflow

matplotlib
scikit-learn
numpy
pandas

# tensorflow-hub
# l2metrics
# l2logger

# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
