# -----------------------------------------------------------------------------
# DEVELOPMENT REQUIREMENTS
#
# This file contains the list of packages that are used for DeepART tinkering
# in Python.
# -----------------------------------------------------------------------------

-e "src/deepart[dev]"
