# -----------------------------------------------------------------------------
# TORCH REQUIREMENTS
#
# This file points to the correct index url for installing CUDA versions of
# PyTorch. Use the following command to install the requirements:
#   pip3 install -r torch-requirements.txt
# -----------------------------------------------------------------------------

--index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
